@{
    Layout = "_DetailsLayout";
}
<div class="container h-100 d-flex flex-column justify-content-center align-items-center">
    <div class="text-center">
        <h1 class="display-3 text-danger">Not Found</h1>
        <p class="lead text-danger">Error: 404</p>
        <p class="text-muted">Sorry, the page you are looking for does not exist or has been moved.</p>
        <a asp-action="Index" asp-controller="Home" class="btn btn-primary mt-3">Go Back to Home</a>
    </div>
</div>
