<div class="container">
    <div class=" w-75 m-auto px-5 py-5">
        <form id="contact" style="width:65%; margin:auto; color:#ccc" class=" py-3" action="/" method="post">
            <div class="mb-3">
                <h2 class="text-center">Contact Us</h2>

            </div>
            <div class="form-group d-flex px-2 justify-content-between align-items-center mb-2">
                <div>
                    <label class="control-label">First Name</label>
                    <input class="form-control" placeholder="First Name" />
                </div>
                <div>
                    <label class="control-label">Last Name</label>
                    <input class="form-control" placeholder="Last Name" />
                </div>
               
            </div>
            <div class="form-group d-flex px-2 justify-content-between align-items-center mb-2">
                <div>
                    <label class="control-label">Email</label>
                    <input class="form-control" placeholder="Email" />
                </div>
                <div>
                    <label class="control-label"> Phone</label>
                    <input class="form-control" placeholder="Phone " />
                </div>

            </div>
            <div class="form-group px-2 mb-3">
                <label class="control-label"> Message</label>
                <textarea style="width:100%; height:100px;" class="form-text  rounded-2">

                </textarea>
            </div>
            <div class="d-flex justify-content-center">

            <button class="btn btn-outline-primary px-5">Send</button>
            </div>

        </form>
    </div>
</div>
<style>
    #contact{
        padding:50px;
        border:1px solid yellow;
        border-radius:3mm
    }
    #contact input ,#contact textarea{
        background-color:transparent;
           color: #adb5bd;
    }
    

</style>
