@model Nero.ViewModel.LoginVM

@{
    ViewData["Title"] = "Register";
    Layout = "_AccountLayout";
}


<div class="container d-flex h-100 justify-content-center align-items-center">
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form id="registerForm" class="w-25 "  asp-action="Login" method="post">
        <div class="mb-3 text-center">
            <h3>Login Here</h3>
            <p class="text-warning">Takecare If You Checked Remmber me , only 14 day remmber !! </p>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
        <div class="form-group part">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" placeholder="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group part">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" placeholder="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class=" form-check">
            <input class="form-check-input" asp-for="RememberMe" />
            <label class="form-check-label" asp-for="RememberMe">Remember me</label>
        </div>
   
        <div class="w-100  d-flex gap-2 align-items-center">
            <button type="submit" class="btn btn-outline-light">Login</button>
            <span>Or</span>
            <a asp-action="Register" class="btn btn-primary">I No Have Account !! </a>

        </div>
        <div class="social">
            <div class="go"><i class="fab fa-google"></i>  Google</div>
            <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
        </div>
    </form>




</div>


<style>
   
</style>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

